.borto-pack-panel {
  padding-left: 5px;
  overflow-y: scroll;
}

.borto-pack-collapsible-header {
  cursor: default;
  user-select: none;
  font-size: 16px;
}

.borto-pack-collapsible-header::before {
  display: inline-block;
  text-align: center;
  font-family: 'Octicons Regular';
  content: '\f078';
  width: 20px;
  padding-left: 2px;
  padding-right: 4px;
}

.borto-pack-collapsible-header.expanded::before {
  content: '\f0a3';
}

.borto-pack-collapsible-content {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-out;
}

.borto-pack-testcase-box {
  margin-top: 5px;
  margin-bottom: 5px;
}

.borto-pack-testcase-pre {
  font-size: 12px;
}
