@import "ui-variables";
@import "octicon-mixins";

.borto-testcase-panel {
  margin-left: 5px;
  overflow: hidden scroll;
}

.borto-testcase:not(.resolved)::before {
  content: '' !important;
}

.borto-testcase-header {
  display: inline-flex;
  position: relative;
  width: 100%;
  left: -17px;
}

.borto-testcase-title {
  display: inline-block;
  width: 100%;
  padding: 0 60px 0 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.borto-testcase.resolved .borto-testcase-title {
  cursor: pointer;
}

.borto-testcase-content {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s;
}

.borto-testcase-button:focus,
.borto-log-button:focus {
  border-color: @button-border-color !important;
  box-shadow: none !important;
}

.borto-testcase-button,
.borto-testcase-message {
  padding: 0px !important;
  height: 23px !important;
  width: 60px;
  position: absolute;
  right: 0px;
}

.borto-testcase-message {
  border: 1px solid @button-border-color;
  border-radius: 3px !important;
}

.borto-testcase-message.highlight-pending {
  background-color: @background-color-highlight;
}

.borto-testcase:not(.running) .borto-testcase-button {
  display: none;
}

.borto-testcase-button {
  line-height: 0px !important;
}

.borto-testcase-message {
  text-align: center;
  line-height: 20px;
  user-select: none;
}

.borto-testcase.running .borto-testcase-message {
  display: none;
}

.borto-testcase-box {
  margin: 5px 0 5px;
}

.borto-testcase-pre {
  user-select: text;
  cursor: text;
}

.borto-log-panel {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.borto-log-table-container {
  overflow-y: scroll;
  margin-bottom: auto;
}

.borto-log-table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}

.borto-log-head {
  padding: 0 2px 0 5px;
  font-size: 14px;
}

.borto-log-cell {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  font-size: 12px;
  vertical-align: top;
}

.borto-log-cell.column1 {
  padding-right: 2px;
}

.borto-log-cell.column3 {
  width: 100%;
  min-width: 400px;
}

.borto-log-cell:nth-child(2) {
  border-radius: 3px 0 0 3px;
}

.borto-log-cell:last-child {
  border-radius: 0 3px 3px 0;
}

.borto-log-cell pre {
  background: transparent;
}

.borto-log-cell:not(.column1) {
  padding: 2px 2px 2px 5px;
  background: @background-color-highlight;
  transition: background-color 0.5s;
}

.borto-log-highlight.warning .borto-log-cell:not(.column1) {
  background: @background-color-warning;
}

.borto-log-highlight.error .borto-log-cell:not(.column1) {
  background: @background-color-error;
}

.borto-log-cell.column1 {
  padding: 0 1px 0 3px;
}

.borto-log-row.note .icon {
  .octicon(info, 15px);
  color: @background-color-info;
}

.borto-log-row.warning .icon {
  .octicon(alert, 15px);
  color: @background-color-warning;
}

.borto-log-row.error .icon {
  .octicon(flame, 15px);
  color: @background-color-error;
}

.borto-log-row.error.fatal .icon {
  .octicon(bug, 15px);
  color: @background-color-error;
}

.borto-log-fit-content {
  padding: 0px;
  white-space: pre-wrap;
  height: fit-content;
  width: fit-content;
}

.column2 .borto-log-content {
  width: 220px;
}

.column2 .borto-log-fit-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 220px;
}

.column2[data-path] .borto-log-fit-content {
  cursor: pointer;
}

.borto-log-selector {
  height: 26px;
  margin: 5px 10px 5px auto;
}

.borto-log-button {
  min-width: 80px;
}

.borto-log-button::before {
  font-size: 14px;
  margin-right: 2px;
}

.borto-log-pre-container {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.borto-log-pre {
  overflow: visible;
  height: fit-content;
  width: fit-content;
  min-height: 100%;
  min-width: 100%;
}

.borto-log-pre {
  user-select: text;
}

.column3 .borto-log-fit-content {
  user-select: text;
}

.borto-gutter {
  width: 100%;
}

.borto-gutter-marker::before {
  font-family: 'Octicons Regular';
  content: '\f052';
  color: transparent;
  position: absolute;
  left: 0px;
  z-index: 1;
  margin: 0 25% 0 25%;
  transition: transform 0.2s ease-in-out;
}

.borto-gutter-marker:hover:not(.cursor-line)::before {
  transform: scale(1.4);
  cursor: pointer;
}

.borto-gutter-marker.warning::before {
  color: @background-color-warning;
}

.borto-gutter-marker.error::before,
.borto-gutter-marker.fatal-error::before {
  color: @background-color-error;
}

.borto-gutter.hide-decoration,
.borto-text-decoration.hide-decoration::before {
  display: none;
}

.borto-text-decoration {
	position: relative;
}

.borto-text-decoration::before {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
  bottom: -6px;
  height: 100%;
  background-position: bottom left;
  background-repeat: repeat-x;
  background-size: 10px 5px;
}

.borto-text-decoration.warning::before {
  background-image: linear-gradient(135deg, transparent 17%, @background-color-warning 27%, @background-color-warning 40%, transparent 50%),
					          linear-gradient( 45deg, transparent 50%, @background-color-warning 60%, @background-color-warning 73%, transparent 83%);
}

.borto-text-decoration.error::before,
.borto-text-decoration.fatal-error::before {
  background-image: linear-gradient(135deg, transparent 17%, @background-color-error 27%, @background-color-error 40%, transparent 50%),
					          linear-gradient( 45deg, transparent 50%, @background-color-error 60%, @background-color-error 73%, transparent 83%);
}
