.borto-pack-panel {
  padding-left: 5px;
  overflow-y: scroll;
}

.borto-pack-expandable {
}

.borto-pack-expandable-header {
  cursor: default;
  user-select: none;
  font-size: 16px;
}

.borto-pack-expandable-icon {
  display: inline-block;
  text-align: center;
  font-family: 'Octicons Regular';
  width: 20px;
  padding-right: 5px;
}

.borto-pack-expandable-title {
}

.borto-pack-testcase-box {
  margin-top: 5px;
  margin-bottom: 5px;
}

.borto-pack-testcase-pre {
  font-size: 12px;
}
